
.header{
	width: 100%;
	height: 800px;
	background-color: #003873;
	background:-webkit-gradient(linear, left top, left bottom, from(#0B3E71), to(#0D64B0));
	background: linear-gradient(top, #0B3E71 0%, #0D64B0 100%);
	background:-o-linear-gradient(top, #0B3E71, #0D64B0);
	background:-moz-linear-gradient(top, #0B3E71, #0D64B0);
}
.header #image{
	padding-left: 50px;
	padding-top: 100px;
	background-image: url('image/star.svg');
	width: 100%;
	height: 100%;
}
.header #image img{

	display: inline-block;
	height: 500px;
}
#block{
	margin-left: 150px;
	display: inline-block;
}
#image h1{
	font-weight: bold;
	margin-bottom: 50px;
	display: inline-block;
	font-size: 36px;
	color: white;

}
#image input{
	/* margin-top: 50px; */
	margin-left: 40px;
	display: block;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: none;
	background-color: #94C500;
	border-radius: 30px;
	width: 300px;
	height: 50px;
}
#image input:hover {
	background-color: #B4D45C;

}
.line0{
	z-index: 999;
	opacity: 0.9;
	position: fixed;
	background-color: #003873;
	width: 100%;
	height: 70px;
}

.line0 img{
	margin-top: 20px;
	margin-left: 200px;
	float: left;
	width: 160px;
	height: 40px;
}


.line0 input{
	margin-top: 15px;
	margin-right: 100px;
	float: right;
	border: none;
	color: #0B4176;
	font-weight: bold;
	font-size: 16px;
	border-radius: 20px;
	background-color: white;
	width: 120px;
	height: 40px;
}



#divhover{
	float: right;
	width: 300px;
	height: 100%;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: bold;
}
.listtest{
	display: none;
	margin-right: 300px;
	float: right;
	width: 200px;
	height: 100px;
	background-color: green;
}


.line0 input:hover{

	background-color: #E6ECF1;
}

#logo{
	float: left;
	margin-top: 80px;
	margin-left: 270px;
	width: 250px;
	height: 250px;
}
.line1{
	width: 100%;
	height: 350px;
	background-color: #F1F1F1;
}
#line1-text{
	margin-left: 80px;
	float: left;
	width: 550px;
	height: 100%;
}
#line1-text a{
	margin-left: -5px;
	font-size: 18px;
	color: #1CB1F5;
	font-weight: bold; 
	/* font-family: Arial, Helvetica, sans-serif; */
	text-decoration: none;
}
#line1-text a:hover{
	text-decoration: underline;
}
#p1{
	opacity: 0.7;
	margin-top: 80px;
	font-size: 25px;
}
#p2{
	opacity: 0.5;
	font-size: 20px;
}
.line2{
	padding-top: 1px;
	width: 100%;
	height: 400px;
	background-color: white;
}
.line2>p{
	/* margin-top: 60px; */
	font-size: 28px;
	text-align: center;
}
.line2 div{
	float: left;
	width: 24%;
	height: 60%;
	/* border: 2px solid red; */
}
.line2-column1{
	margin-left: 14%;
}
.line2-column2 img{
	width: 100%;
	height: 140%;
}
.line2-column3 p{
	margin-left: 100px;
}
.line2-big{
	font-size: 20px;
}
.line2-small{

	opacity: 0.6;
	width: 80%;
}


.line3{
	width: 100%;
	height: 300px;
	background-color: #F1F1F1;
}
.line3 div{
	/* border: 1px solid red; */
	float: left;
}
#line3-cl1{
	margin-left: 20%;
	width: 40%;
	height: 100%;
}

#line3-big,#line4-big{
	opacity: 0.7;
	font-size: 24px;
}
#line3-small,#line4-small{
	opacity: 0.55;
	width: 80%;
	font-size: 20px;
}
.line3 button{
	margin-top: 15px;
}
#btnIOS{
	background-color: #F1F1F1;
	border: 2px solid #1CAFF6;
	border-radius: 25px;
	width: 120px;
	height: 45px;
}
#btnANDROID{
	margin-left: 20px;
	background-color: #F1F1F1;
	border: 2px solid #1CAFF6;
	border-radius: 25px;
	width: 150px;
	height: 45px;
}
#btnANDROID p{
	margin-top: 10px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #1CAFF6
}
#btnIOS p{
	margin-top: 10px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #1CAFF6
}
#line3-cl1 img{
	margin-left: 10px;
	margin-top: 6px;
	float: left;
	width: 25px;
	height:25px;
}

#line3-cl2{
	width: 25%;
	height: 100%;
}
#line3-cl2 img{

	margin: 20px;
	width: 90%;
	height: 90%;
}
.line4{
	width: 100%;
	height: 320px;
	background-color: white;
}
.line4 div{
	float: left;
	/* border: 1px solid red; */
}
.line4 img{
	width: 100%;
	height: 100%;
}
.line4 a{
	font-size: 20px;
	text-decoration: none;
	color: #1CAFF6;
}
.line4 a:hover{
	padding-bottom: 3px;
	border-bottom: 3px solid ;
	border-color:  #1CAFF6;
	/* text-decoration: underline; */
}
#line4-cl1{
	margin-left: 20%;
	width: 25%;
	height: 300px;
}
#line4-cl2{
	padding-top: 50px;
	width: 40%;
	height: 300px;
}
#line4-cl2 p,a{
	margin-left: 80px;
}
.bottom{
	background-color: #0B3E71;
	width: 100%;
	height: 700px;
	background:-webkit-gradient(linear, left top, left bottom, from(#0B3E71) , to(#0D64B0)) ;
	background: linear-gradient(top, #0B3E71 0%, #0D64B0 100%);
	background:-o-linear-gradient(top, #0B3E71, #0D64B0);
	background:-moz-linear-gradient(top, #0B3E71, #0D64B0);

}

#image1{
	background-image: url('image/star.svg');
	width: 100%;
	height: 100%;
}
#image1  p{
	margin-left: -250px;
	color: white;
	padding-top: 100px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
#image1 input{
	font-weight: bold;
	font-size: 22px;
	color: white;
	border: none;
	background-color: #94BC00;
	margin-right: 400px;
	margin-top: -50px;
	float: right;
	width: 200px;
	height: 45px;
	border-radius: 30px;
}
#image1 input:hover{
	background-color: #B4D45C;
}
