.wraper {
	margin: -8px;
	background-color: #003873;
}
.header{
	width: 100%;
	height: 800px;
	background-color: #003873;
	background:-webkit-gradient(linear, left top, left bottom, from(#0B3E71), to(#0D64B0));
	background: linear-gradient(top, #0B3E71 0%, #0D64B0 100%);
	background:-o-linear-gradient(top, #0B3E71, #0D64B0);
	background:-moz-linear-gradient(top, #0B3E71, #0D64B0);
}
.header #image{
	background-image: url('star.svg');
	width: 100%;
	height: 100%;
}
.header #image img{
	margin: 100px;
	width: 500px;
	height: 500px;
}
#image h1{
	font-size: 36px;
	color: white;
	margin-right: 300px;
	margin-top: 260px;
	float: right;
}
#image input{
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: none;
	background-color: #94C500;
	border-radius: 30px;
	top: 45%;
	left: 55%;
	position: relative;
	width: 300px;
	height: 50px;
}
.line0{
	opacity: 0.95;
	position: fixed;
	background-color: #003873;
	width: 100%;
	height: 70px;
}
.line0 img{
	float: left;
	opacity: 1;
	margin-top: 20px;
	margin-left: 180px;
	width: 160px;
	height: 40px;
}
.line0 input{
	border: none;
	margin-top: 15px;
	margin-right: 160px;
	color: #0B4176;
	font-weight: bold;
	font-size: 16px;
	border-radius: 20px;
	float: right; 
	background-color: white;
	width: 120px;
	height: 40px;
}



.bottom{
	width: 100%;
	height: 900px;
	background-color: #F1F1F1;
}
#logo{
	float: left;
	margin-top: 80px;
	margin-left: 270px;
	width: 250px;
	height: 250px;
}
.line1{
	width: 100%;
	height: 350px;
	background-color: #F1F1F1;
}
#line1-text{
	margin-left: 80px;
	float: left;
	width: 550px;
	height: 100%;
}
#line1-text a{
	font-size: 18px;
	color: #1CB1F5;
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
#p1{
	opacity: 0.7;
	margin-top: 80px;
	font-size: 25px;
}
#p2{
	opacity: 0.5;
	font-size: 20px;
}
.line2{
	width: 100%;
	height: 450px;
	background-color: white;
}
.line2>p{
	margin-top: 60px;
	font-size: 28px;
	text-align: center;
}
.line2 div{
	margin-top: 30px;
	float: left;
	width: 24%;
	height: 60%;
	/* border: 2px solid red; */
}
.line2-column1{
	margin-left: 14%;
}
.line2-column2 img{
	width: 100%;
	height: 100%;
}
.line2-column3 p{
	margin-left: 100px;
}
.line2-big{
	font-size: 20px;
}
.line2-small{

	opacity: 0.6;
	width: 80%;
}
.line3{
	width: 100%;
	height: 300px;
	background-color: #F1F1F1;
}
.line3 div{
	/* border: 1px solid red; */
	float: left;
}
#line3-cl1{
	margin-left: 20%;
	width: 40%;
	height: 100%;
}

#line3-big,#line4-big{
	opacity: 0.7;
	font-size: 24px;
}
#line3-small,#line4-small{
	opacity: 0.55;
	width: 80%;
	font-size: 20px;
}
.line3 button{
	margin-top: 15px;
}
#btnIOS{
	background-color: #F1F1F1;
	border: 2px solid #1CAFF6;
	border-radius: 25px;
	width: 120px;
	height: 45px;
}
#btnANDROID{
	margin-left: 20px;
	background-color: #F1F1F1;
	border: 2px solid #1CAFF6;
	border-radius: 25px;
	width: 150px;
	height: 45px;
}
#btnANDROID p{
		margin-top: 12px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #1CAFF6
}
#btnIOS p{
	margin-top: 12px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #1CAFF6
}
#line3-cl1 img{
	margin-left: 10px;
	margin-top: 6px;
	float: left;
	width: 25px;
	height:25px;
}

#line3-cl2{
	width: 25%;
	height: 100%;
}
#line3-cl2 img{

	margin: 20px;
	width: 90%;
	height: 90%;
}
.line4{
	width: 100%;
	height: 350px;
	background-color: white;
}
.line4 div{
	float: left;
	/* border: 1px solid red; */
}
.line4 img{
	width: 100%;
	height: 100%;
}
.line4 a{
	font-size: 20px;
	text-decoration: none;
	color: #1CAFF6;
}
#line4-cl1{
	margin-left: 20%;
	width: 25%;
	height: 300px;
}
#line4-cl2{
	padding-top: 30px;
	width: 40%;
	height: 300px;
}
#line4-cl2 p,a{
	margin-left: 80px;
}
.bottom{
	background-color: #0B3E71;
	background:-webkit-gradient(linear, left top, left bottom, from(#0B3E71), to(#0D64B0));
	background: linear-gradient(top, #0B3E71 0%, #0D64B0 100%);
	background:-o-linear-gradient(top, #0B3E71, #0D64B0);
	background:-moz-linear-gradient(top, #0B3E71, #0D64B0);


}

