body {
    font-family: Arial;
    
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    background-color: transparent;
}


/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.gioithieu h1{
	margin-left: 20px;
	padding-top: 10px;
    color: black;
}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #e6f2ff;

}
.gioithieu{
	height: 100%;
	width: 1000px;
	margin: auto;   
    border-radius:20px 20px 0px 0px; 
}
#tabmenu{
	border-radius:20px 20px 0px 0px; 
    background-color:  #7dd4f1;
}

.footer ul li{
  list-style: none; 
  display: inline-block;  
  margin: 15px;
  cursor: pointer;
  color: grey;

}
.footer ul li:hover{
    color: blue;
}

.tabcontent>div{
    height: 100%;

}
.tabcontent>div img{
    height: 100%;
    width:  100%;  

}
.tabcontent h1{
    color: black !important;
}