.wraper{
	width: 100%;
	height:800px;
	background-color: #F0F0F0;
}
.container{
	width: 100%;
	height: 100%;
}
#question{
	margin-top: 10%;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	background-color: #d4f052;
	border: 1px solid red;
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 20px;
}
#title{
	background-color: red;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	background-color: #69bdee;
	border-radius: 25%;
	
}

#answer{
	padding-top: 20px;
	padding-left: 25px;
	border-radius: 30px;
	font-size: 30px;
	margin-left: 25%;
	margin-top: 5%;
	background-color: #dadcd2;
}
#answer:focus{
	outline:  none;
}
.menu-button{
	width: 100%;
	height: 50px;
	margin-top: 30px;
	color: blue;
	

}
.but-item{
	border: 1px solid gray;
/* 	margin-left: 10px; */
	margin-left: 30px;
/* 	float: left; */
	border: 1px solid gray;
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	width: 150px;
	height: 100%;
	border-radius: 20px;
}
.but-item:hover{
	background-color: #AEE351;
}
#result{
	outline: none;
	background-color: white;
	border-radius: 25px;
	font-size: 40px;
	font-weight: bold;
	width: 65%;
	height: 15%;
	background-color: #efc7ee;
}
#check{
	/* margin-top: 100px; */
	margin: 2%;
	float: right;
	border-radius: 30px;
	outline: none;
	background-color: #8CDD00 ;
	margin-left: 10%;
	height: 10%;
	width: 20%;
	font-size: 30px;
	font-weight: bold;
	color: white;
}
#check:hover{
	background-color: #8AD027;
}
