<!DOCTYPE html>
<html>
<head>
	<title>Duolingo dành cho Học đường</title>
	<meta name="name" content="content" charset="UTF8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../style/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="line0">
			<h2>duolingo | dành cho học đường</h2>
			<div class="dropdown">
  				<button class="dropbtn">Chia sẻ</button>
  					<div class="dropdown-content">
    					<a href="#">Facebook</a>
    					<a href="#">Email</a>
    					<a href="#">Twitter</a>
  					</div>
			</div>
		</div>
		<div id="header">
			<img src="../image/Capture.PNG" alt="">
			<h2>Đưa nền tảng học tập ngôn ngữ phổ biến nhất thế giới vào lớp học của bạn.</h2>
			<input id="btn-start" type="button" value="Bắt Đầu Ngay">
		</div>
		<div class="row">
  			<div class="col-sm-6">
  				<img src="../image/duo.png" alt="">
  			</div>
  			<div class="col-sm-6">
  				<h3>
					Từ giờ bạn có thể theo dõi quá trình học trên Duolingo!</h3>
				<p>Nhiều giáo viên dạy ngoại ngữ và thậm chí một vài chính phủ trên thế giới đã xem Duolingo là người bạn đồng hành hoàn hảo với mỗi học sinh. Bài học từ Duolingo đánh giá quá trình học của mỗi học sinh một cách chính xác và giúp mỗi em có nhiều cơ hội luyện tập hơn, đồng thời hỗ trợ và vận dụng tối đa kiến thức học được từ trên lớp.</p>
				<p>Giờ đây các giáo viên có thể theo dõi quá trình học tập của tất cả học sinh của mình thông qua một bảng điều khiển hoàn toàn mới.</p>
  			</div>
		</div>
		<div id="mid">
			<h4>Over 200 million people around the world use Duolingo to help them learn languages. The fun, game-like lessons keep students motivated and excited about language. Best of all, as studies by the City University of New York and others have shown - it really works!</h4>
			<div id="more">
				<ul>
					<li><a href="../video/clip.MP4">Xem video (1 phút)</a></li>
					<li><a href="../document/DuolingoReport_Final.pdf">Xem nghiên cứu về mức độ hiệu quả</a></li>
				</ul>
			</div>
			
		</div>
		<div id="footer">
			<h3>Hãy thử làm quen với Duolingo, công cụ học ngôn ngữ số 1 thế giới và hoàn toàn miễn phí.</h3>
			<input id="btn-start" type="button" value="Bắt Đầu Ngay">
				<ul>
					<li>Giới thiệu</li>
					<li>Chứng chỉ Sư phạm</li>
					<li>Duolingo English Test</li>
					<li>Thiết bị di động</li>
					<li>Phụ kiện</li>
					<li>Trợ giúp</li>
					<li>Việc làm</li>
					<li>Điều khoản</li>
					<li>Quyền riêng tư</li>
					<li>Doulingo.com</li>
					<i class="fa fa-twitter"></i>
					<i class="fa fa-facebook"></i>
				</ul>
		</div>
	</div>
</body>
</html>